.Navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 40px;
    margin: 10px;
    width: 100%;
    border-radius: 3px;
}

.selectButton{
    border: none;
    padding: 8px;
    margin: 3px;
    border-radius: 4px;
    background-color: rgb(79, 76, 76);
    cursor: auto;
    color: white;
}

.navBarButton {
    border: none;
    background: none;
    padding: 8px;
    margin: 3px;
    border-radius: 4px;
}

.navBarButton:hover{
    background-color: rgb(79, 76, 76);
    cursor: auto;
    color: white;
}

.searchBar{
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

.searchBar:disabled{
    background-color: rgba(128, 128, 128, 0.5);
}

.searchBar:disabled{
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }