*{
  margin: 0;
    padding: 0;
}

body {
    background-image: url(./Utils/Images/tumblr_o17wxxtgWv1v4obbzo1_1280.jpg);
    background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
