body {
    background-image: url('./Utils/Images/d64b989e569519f1cbd64a60a57b98dd.jpg');
    background-size:cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
